@model List<string>
@using MegaOnlineStore.Web.HtmlHelpers


@Html.ActionLinks(Model)

   @* @foreach (var item in Model)
    {

    <a href="/Products/List?name=@item">@item</a> @:| &nbsp;

    }*@




@*        @Html.ActionLink(@item, "List", "Products", new { name = @item}, null)*@
@*   <a href=" @Url.Action("List", "Products", new { name = @item})"> @item</a>*@

